<h3>Create product</h3>

<form ng-submit="createProduct()">
  Title: <input class="form-control" ng-model="newProduct.title"><br />
  Description: <input class="form-control" ng-model="newProduct.description"><br />
  Price: <input class="form-control" type="number" ng-model="newProduct.price"><br />
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<h3>Manage products</h3>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="product in products">
    <td>{{product.title}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td ng-click="editProduct(product)"><a>Edit</a></td>
    <td ng-click="deleteProduct(product._id)"><a>Delete</a></td>
  </tr>
</table>


<form ng-submit="updateProduct()" ng-show="showUpdateForm">
  Title: <input class="form-control" ng-model="editedProduct.title"><br />
  Description: <input class="form-control" ng-model="editedProduct.description"><br />
  Price: <input class="form-control" type="number" ng-model="editedProduct.price"><br />
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
