<button class="btn btn-primary" ng-click="getProducts()">
  View All Products
</button>

<div>
<input class="" ng-model="productId" placeholder="Enter ID">
<button class="btn btn-danger" ng-click="findProduct()">
  Go!
</button>
</div>

<h3>Results</h3>
<div ng-show="viewResults">
  <div>{{resultsSummary}}</div>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
    <tr ng-repeat="product in products">
      <td>{{product.title}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
    </tr>
  </table>
</div>
